{% extends 'base.html' %}
{% load static %}

{% block title %} Change password {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_details.css' %}">

<h1>Change password...</h1>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Your password can’t be too similar to your other personal information.</li>
            <li class="list-group-item">Your password must contain at least 8 characters.</li>
            <li class="list-group-item">Your password can’t be a commonly used password.</li>
            <li class="list-group-item">Your password can’t be entirely numeric.</li>
        </ul>
        <br>
        <button class="btn btn-secondary">Change password</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

<br>

{% endblock %}